In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import csv

In [4]:
data1=pd.read_csv('data5.csv')

In [5]:
data1

     Outlook Temperature Humidity    Wind class
0      Sunny         Hot     High    Weak    No
1      Sunny         Hot     High  Strong    No
2   Overcast         Hot     High    Weak   Yes
3       Rain        Mild     High    Weak   Yes
4       Rain        Cool   Normal    Weak   Yes
5       Rain        Cool   Normal  Strong    No
6   Overcast        Cool   Normal  Strong   Yes
7      Sunny        Mild     High    Weak    No
8      Sunny        Cool   Normal    Weak   Yes
9       Rain        Mild   Normal    Weak   Yes
10     Sunny        Mild   Normal  Strong   Yes
11  Overcast        Mild     High  Strong   Yes
12  Overcast         Hot   Normal    Weak   Yes

In [6]:
df1=data1[data1['class']=='Yes']

In [7]:
df1

     Outlook Temperature Humidity    Wind class
2   Overcast         Hot     High    Weak   Yes
3       Rain        Mild     High    Weak   Yes
4       Rain        Cool   Normal    Weak   Yes
6   Overcast        Cool   Normal  Strong   Yes
8      Sunny        Cool   Normal    Weak   Yes
9       Rain        Mild   Normal    Weak   Yes
10     Sunny        Mild   Normal  Strong   Yes
11  Overcast        Mild     High  Strong   Yes
12  Overcast         Hot   Normal    Weak   Yes

In [8]:
df2=data1[data1['class']=='No']

In [9]:
df2

  Outlook Temperature Humidity    Wind class
0   Sunny         Hot     High    Weak    No
1   Sunny         Hot     High  Strong    No
5    Rain        Cool   Normal  Strong    No
7   Sunny        Mild     High    Weak    No

In [10]:
inputlist1=[]

In [11]:
head=['Outlook','Temperature','Humidity','Wind','class']

In [12]:
inputlist1.append(head)

In [13]:
inputlist1

[['Outlook', 'Temperature', 'Humidity', 'Wind', 'class']]

In [14]:
count=0

In [15]:
def counting(inputlist1,j,str1,count):
    if(inputlist1[j][4]==str1):
        count=count+1
    return count

In [16]:
print("\n\t\t Naive Bayesian Classifier")

		 Naive Bayesian Classifier

In [17]:
inputlist1

[['Outlook', 'Temperature', 'Humidity', 'Wind', 'class']]

In [18]:
with open('data5.csv', 'r', encoding='utf-8') as csv_file1:
        csv_reader1=csv.reader(csv_file1)
        for i in range(11):
                next(csv_reader1)
        for line1 in csv_reader1:
            inputlist1.append(line1)
        for j in range(1,len(inputlist1)):
            print("\nThe ",j,"Test data is:\n",head[0]," = ",inputlist1[j][0],", ",head[1]," = ",inputlist1[j][1],",",head[2]," = ",inputlist1[j][2],", ",head[3]," = ",inputlist1[j][3])
            listyes=list() #sunny no cool no High no
            listno=list()
            resultyes=0.0
            resultno=0.0
            for d in range(4):
                listyes.append(df1.loc[df1[head[d]]==inputlist1[j][d],head[d]].count()/len(df1))
                listno.append(df2.loc[df2[head[d]]==inputlist1[j][d],head[d]].count()/len(df2))
                resultyes = np.prod(np.array(listyes))*(len(df1)/len(data1))
                resultno = np.prod(np.array(listno))*(len(df2)/len(data1))
            print("Probability of Yes: ",resultyes,"\nProbability of No: ",resultno)
            if resultyes>resultno:
                print("Classified as YES\n")
                #count=counting(inputlist1,j,'Yes',count)
                #print("count from yes",count)
            else:
                print("Classified as NO\n")
                #count=counting(inputlist1,j,'No',count)
                #print("count from no",count)

The  1 Test data is:
 Outlook  =  Sunny ,  Temperature  =  Mild , Humidity  =  Normal ,  Wind  =  Strong
Probability of Yes:  0.015194681861348524
Probability of No:  0.007211538461538462
Classified as YES


The  2 Test data is:
 Outlook  =  Overcast ,  Temperature  =  Mild , Humidity  =  High ,  Wind  =  Strong
Probability of Yes:  0.015194681861348524
Probability of No:  0.0
Classified as YES


The  3 Test data is:
 Outlook  =  Overcast ,  Temperature  =  Hot , Humidity  =  Normal ,  Wind  =  Weak
Probability of Yes:  0.030389363722697047
Probability of No:  0.0
Classified as YES

In [19]:
print("Accuracy of Classifier is : ",count/(len(inputlist1)-1))

Accuracy of Classifier is :  0.0